.card-body{
  background-color: #f0f8ff;
}
body{
  font-family: 'Nanum Gothic', sans-serif;
  overflow-x: hidden;
}
.horizontal-scroll-wrapper {
  width: 40rem;
  height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.cate{
  text-decoration: none;
}
.more{
  font-size: 1.5em;
  text-decoration: underline;
}
.btn-dark{
  margin-top: 4%;
}
.navbar-brand{
  text-align: right
}
ul{
  background-color: black;
  text-align: right;
  padding: 0.5em;
  border-radius: 25px;
}
