{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styling block-->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand" rel="stylesheet">
 
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    
        {% for source in sources %}
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 news-card card shadow p-3 mb-5 bg-white rounded" style="margin-left:2%; margin-right:2%">
          <div class="card-body" >
            <h4 class="card-title"><b>{{source.name}}</b></h4>
            <p class="card-text text-left">{{source.description}}</p>
            <div class="card-footer">
              <li><a href="{{source.url}}" target="_blank">Go to site</a></li>
              <li><b>Category: {{source.category}}</b></li>
              <li>{{source.language}}</li>
            </div>
            <div style="margin:1%">
              <a href="/source/{{source.id}}" target="_blank"><button class="btn btn-dark">View Aritcles</button></a>
            </div>            
          </div>        
        </div>
        {% endfor %}
        
        <h3> Top-Headlines News</h3>
        <p>
            {{ macro.displayNewsList(headlines)}}
        </p>
        
        <h3> Breaking News</h3>
        <p>
            {{ macro.displayNewsList(breakingNews)}}
        </p>    
    
  </div>
      
</div>

{% endblock %}