{% macro displayNewsList(news_list) %}

    {% for article in news_list %}
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 news-card card-body">
                <img src="{{ article.image }}" alt="{{ article.title }} image" class="img-responsive" > 
                
                <p class="text-center card-footer"><a href="/article/{{article.title}}">{{article.title}}</a></p>
              
            </div>
        </div>      
    </div>
    
    {% endfor %}

{% endmacro %}