{% macro displayNewsList(news_list) %}
<div class="container-fluid">
    <div class="row ">
    {% for source in news_list %}
    
            <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 news-card">
              <div class=" card card-block">
                <p>{{ source.name }}</p>                           
                                 
              </div> 
              <p class="text-center card-footer"><a href="/article/{{article.title}}">{{article.title}}</a></p>                
            </div> -->
            {% endfor %}
        </div>      
    </div>
    
    

{% endmacro %}