{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styling block-->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container-fluid">
  <h2 style="text-align:center; font-weight:bold">ARTICLES</h2>
  <div class="row card">
    {% for article in articles_list %}
      <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 card-body imageUrl" style="background: url({{article.image}}) no-repeat center center; height: 25rem">  
      </div>
      <div class="card-footer">
          <h3>{{article.title}}</h3>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 article-details">
        <p class="desc">{{article.description}}</p>
        <p class="author"><b><i>{{article.author}}</i></b></p>
        <p class="date">{{article.date}}</p>
        <p class="content">{{article.content}}</p>       

      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}