{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styling block-->
{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Quicksand" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container-fluid card ">
  <div class="row card">
      <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 card-body imageUrl" style="background: url({{article.image}}) no-repeat center center; height: 25rem">  
      </div>
      <div class="card-footer">
          <h3>{{source.name}}</h3>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 article-details">
        <p class="desc">{{source.descripiton}}</p>
        <p class="url"><b><i>{{source.url}}</i></b></p>
        <p class="category">{{source.category}}</p>
        <p class="country">{{source.country}}</p>       

      </div>
  </div>
</div>

{% endblock %}